<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation Starter Template</title>
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">


  <header>
    
    <div class="row">
      <div class="twelve columns text-center"><br />
        <img src="berza-studio.jpg" alt="Berza Studio Logo" height="300" width="450">
      </div>
    </div>
  </header>



  <body>
    <div class="row">
      <div class="twelve columns text-center"><br/>
        <h3>Our new and updated website is under construction</h3>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns text-center"><br/>
        <h4>Refer all inquiries to:</h4>
        <h4><a style="color:black" href="mailto:info@berzastudio.ca">info@berzastudio.ca</a</h4>
        <h4><a style="color:black" href="tel:647-862-3167">Call: 647-862-3167</a></h4>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.2.7/what-input.min.js"></script>
    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>  </head>
    <script>
      $(document).foundation();
    </script>

  </body>
  <footer>
    <div class="row">
      <div class="twelve columns text-center"><br />
        <img src="under-construction.jpg" alt="Smiley face" height="300" width="850">
      </div>
    </div>

    
  </footer>
</html>
